@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Yeseva+One&display=swap');


.text-g-t {
  font-size: 6rem;
  font-family: "Yeseva One";
  font-weight: 400;
}


.text-g-st {
  font-size: 4.5rem;
  font-family: "Yeseva One";
  font-weight: 400;
}